@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  label {
    @apply block text-Neutral300 text-lg font-semibold;
  }
  input {
    @apply block border-Neutral500 rounded-lg w-full my-4 placeholder:text-xs
    border md:p-4 sm:p-2 mt-1 cursor-pointer hover:bg-Neutral700 transition-all bg-Neutral400 focus:border-Neutral300;
  }
  button {
    @apply inline-block bg-Orange500 text-Neutral900 border rounded-lg w-full border-none outline-none font-xbold
    sm:py-2 md:p-4 hover:bg-Orange700 transition focus:border-Neutral300;
  }
  .heading {
    @apply font-xbold   sm:text-3xl md:text-4xl ;
  }
  .avatarBtn {
    @apply px-2 py-1 rounded-2xl bg-Neutral400 text-Neutral0 text-xs;
  }
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: 100vh;
  background-attachment: fixed;
  background:
    url('/assets/images/pattern-squiggly-line-top.svg') no-repeat right top,
    url('/assets/images/pattern-squiggly-line-bottom.svg') no-repeat left bottom,
    url('/assets/images/pattern-lines.svg') no-repeat center right,
    url('/assets/images/pattern-circle.svg') no-repeat center right,
    url('/assets/images/background-mobile.png') no-repeat center top;
  background-size: 50%, contain, contain, auto, cover;
  background-position: right top, left bottom, right center, 80% 50%, left bottom;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .main {
    background:
      url('/assets/images/pattern-squiggly-line-top.svg') no-repeat right top,
      url('/assets/images/pattern-squiggly-line-bottom.svg') no-repeat left bottom,
      url('/assets/images/pattern-lines.svg') no-repeat center right,
      url('/assets/images/pattern-circle.svg') no-repeat center right,
      url('/assets/images/background-tablet.png') no-repeat center top;
    background-size: 50%, contain, contain, auto, cover;
    background-position: right top, left bottom, right center, 80% 50%, left bottom;
  }
  .flexCenter {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (min-width: 1080px) {
  .main {
    background:
      url('/assets/images/pattern-squiggly-line-top.svg') no-repeat right top,
      url('/assets/images/pattern-squiggly-line-bottom.svg') no-repeat left bottom,
      url('/assets/images/pattern-lines.svg') no-repeat center right,
      url('/assets/images/pattern-circle.svg') no-repeat center right,
      url('/assets/images/background-desktop.png') no-repeat center top;
    background-size: auto, auto, cover, auto, cover;
    background-position: right 5rem, left bottom, center right, 80% 50%, left bottom;
  }
  .flexCenter {
    padding-left: 30px;
    padding-right: 30px;
  }
  .heading {

  @apply text-[3.4rem] leading-[120%] mx-6 font-xbold;


  }

}
